body{
    background-image: url('darkbrick.png');
}

@font-face {
    font-family: PirataOne;
    src: url(PirataOne-Regular.ttf);
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: gold;
}

h1 {
    font-size: 60px;
    font-family: PirataOne;
    text-align: center;
    color: maroon;
}

.site.nav{
    position: absolute;
    top: 100px;
    left: 460px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

li{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    display:inline-block;
    padding: 12px;
    background-color: maroon;
    border: 1px solid rgb(219,0,0);
}

.about.box{
    position:absolute;
    top: 200px;
    left: 230px;

    display:block;
    background-color: rgb(33,32,30);
    border: 1px solid white;

    height: 300px;
    width:800px;
}

p1 {
    color:gold;
}

.icon {
    max-height: 100%;
    width:auto;
}

.icon.links{
    position:absolute;
    top: 510px;
    left: 530px;
    display: flex;
}

.icon-container{
    padding-right: 30px;
    height:50px;
    width:50px;
}