body{
    background-image: url('darkbrick.png');
}

@font-face {
    font-family: PirataOne;
    src: url(PirataOne-Regular.ttf);
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: gold;
}

h1 {
    font-size: 60px;
    font-family: PirataOne;
    text-align: center;
    color: maroon;
}

.site.nav{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -165px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

.nav.list{
    margin-right: 10px;
    text-decoration: none;
    display:inline-block;
    padding: 12px;
    background-color: maroon;
    border: 1px solid rgb(219,0,0);
}

.info.box{
    position:absolute;
    top:200px;
    left: 50%;
    margin-left: -400px;

    display:block;
    background-color: rgb(33,32,30);
    border: 1px solid rgb(219,0,0);

    height: 300px;
    width:800px;
}

p1 {
    margin-top: 20px;
    margin-left: 20px;
    color:white;
}

p2 {
    margin-left: 20px;
    color: white;
}

.icon {
    max-height: 100%;
    width:auto;
}

.icon.links{
    position:absolute;
    top: 510px;
    left: 50%;
    margin-left:-105px;
    display: flex;
}

.icon-container{
    padding-right: 30px;
    height:50px;
    width:50px;
}

.l-candle{
    position:absolute;
    top: 40px;
    left: 25%;
}

.r-candle{
    position: absolute;
    top: 40px;
    right: 25%;
}

.res.link{
    color: white;
    margin-left: 20px;
}

.res.link:hover{
    color:gold;
}

.res-icon-container{
    display:inline-block;
    margin-left: 40px;
    height:60px;
    width:60px;
}

.res-link-container{
    display:inline-block;
}

p3 {
    color: white;
}

.drive.link{
    color:white;
}

.drive.link:hover{
    color:gold;
}